
services: 
  laravel-api:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.api
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - /var/www/html/storage
      - /var/www/bootstrap/cache
    networks:
      - laravel-network
    depends_on:
      - postgres-db
    environment:
      - APP_DEBUG=true
      - DB_CONNECTION=pgsql
      - DB_HOST=postgres-db
      - DB_PORT=5432
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel
      - DB_PASSWORD=secret
      - CACHE_STORE=file
      - SESSION_DRIVER=file
  
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel-network
    depends_on:
      - laravel-api

  postgres-db: 
    image: postgres:18-alpine
    restart: unless-stopped
    environment: 
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgres/data
    networks:
      - laravel-network
    ports:
      - "3308:5432"
      
networks:
  laravel-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local