
services: 
  laravel-api:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.api
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    networks:
      - laravel
    # depends_on:
      # - postgres_db
    environment:
      - DB_CONNECTION=pgsql
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_DATABASE=${DB_DATABASE:-laravel}
      - DB_USERNAME=${DB_DATABASE:-laravel}
      - DB_PASSWORD=${DB_PASSWORD:-secret}
  
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel
    depends_on:
      - laravel-api

networks:
  laravel:
    driver: bridge